* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 700;
}

*:focus {
  outline: none;
}

body {
  background-color: #17181f;
  background-image: url("../public/bg-calli.png");
  background-size: 500px;
  background-blend-mode: color-dodge;
  color: #fff;
}

.card {
  margin: 2rem auto;
  max-width: 450px;

  @media screen and (max-width: 500px) {
    max-width: 80%;
  }
}

.title-text {
  text-align: center;
  margin-block: 1rem;
}

.title {
  margin-block: 4rem;
}

.tick {
  color: #16c60c;
}

@media screen and (max-width: 500px) {
  .title-text {
    font-size: 1.6rem;
  }
}
