form {
  display: flex;
  justify-content: space-between;
  border: 3px solid #303130;
  border-radius: 0.6rem;
  padding: 0.3rem 1rem;
}

form input[type="text"] {
  background: none;
  border: none;
  color: #fff;
  font-size: 1.2rem;
}

form input[type="text"]:focus {
  border: 0;
  border-color: transparent;
}

form button {
  background-color: #61dafb;
  border: 0;
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 420px) {
  form input[type="text"] {
    max-width: 80%;
  }
}
